body {
    margin: 0;
    padding: 0;
    background-image: url('50-Beautiful-and-Minimalist-Presentation-Backgrounds-02.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.loginbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: 490px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5);
}



h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    color: white;
}

.lblemail, .lblpassword, .lblusername {
    font-weight: bold;
    color: #fff;
}


.txtemail, .txtpassword, .btnsubmit, txtusername {
    width: 100%;
    margin-bottom: 20px;
}

.txtemail, .txtpassword, .txtusername{
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    
}


.btnsubmit {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out
}

.btnsubmit:hover {
        background-color: rgb(204, 204, 204);

}

.btnshare {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out
}

    .btnshare:hover {
        background-color: goldenrod;
    }

